* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    cursor: zoom-in;
    width: 100%;
}

// CSS Light
#lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    .light-img {
        width: 50%;
        margin: 0 auto;
        height: auto;
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
    }
    .lightbox-prev,
    .lightbox-next {
        position: absolute;
        bottom: 50%;
        font-size: 50px;
        width: 50px;
        width: 50px;
        padding: 0 10px;
        color: whitesmoke;
        text-align: center;
    }
    .lightbox-prev {
        transform: translateX(-50%);
        left: 23.5%;
    }
    .lightbox-next {
        right: 23.5%;
        transform: translateX(50%);
    }
}

// CSS Light
@media only screen and (max-width:768px) {
    #neko {
        width: 100%;
    }
    // CSS Light
    #lightbox {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        .light-img {
            width: 80%;
            margin: 0 auto;
            height: auto;
            position: absolute;
            bottom: 50%;
            right: 50%;
            transform: translate(50%, 50%);
        }
        .lightbox-prev,
        .lightbox-next {
            position: absolute;
            bottom: 50%;
            font-size: 50px;
            width: 50px;
            width: 50px;
            padding: 0 10px;
            color: whitesmoke;
            text-align: center;
        }
        .lightbox-prev {
            transform: translateX(-50%);
            left: 5%;
        }
        .lightbox-next {
            right: 5%;
            transform: translateX(50%);
        }
    }
}

@media only screen and (min-width:820px) {
    #neko {
        width: 55%;
        margin: 0 auto;
    }
    // CSS Light
    #lightbox {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        .light-img {
            width: 50%;
            margin: 0 auto;
            height: auto;
            position: absolute;
            bottom: 50%;
            right: 50%;
            transform: translate(50%, 50%);
        }
        .lightbox-prev,
        .lightbox-next {
            position: absolute;
            bottom: 50%;
            font-size: 50px;
            width: 50px;
            width: 50px;
            padding: 0 10px;
            color: whitesmoke;
            text-align: center;
        }
        .lightbox-prev {
            transform: translateX(-50%);
            left: 23.5%;
        }
        .lightbox-next {
            right: 23.5%;
            transform: translateX(50%);
        }
    }
}

.gengo {
    width: 100%;
    text-align: center;
    height: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 7px 5px;
    line-height: 50px;
    background-color: rgb(69, 121, 128);
    border-radius: 5px;
    color: white;
    padding: 0;
    a {
        color: white;
    }
}

h2 {
    padding: 10px;
}

p {
    padding: 5px;
}

h3 {
    padding: 10px;
}

.article {
    background-color: rgb(247, 247, 247);
    padding: 15px;
    margin: 15px 0;
    b {
        padding: 5px;
    }
}